@model List<Product>
@{
    ViewData["Title"] = "Product List";
}

<div class="container mt-4">
    <h1 class="mb-4">Products</h1>
    <a class="btn btn-primary" asp-controller="Products" asp-action="Create">Create </a>
    <table class="table table-bordered table-striped table-hover shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price ($)</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("F2")</td>
                    <td>
                        <img src="@item.ImageUrl"
                             alt="Image not available"
                             class="img-thumbnail"
                             style="max-height: 80px; max-width: 100px;" />
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="products" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-secondary" asp-controller="products" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                </tr>
            }
        </tbody>
    </table>
</div>
